<div class="size-full px-12 py-24 gap-x-6 flex justify-around items-center">
  <img [src]="isDarkMode ? '/assets/about-me/picture-portfolio-dark.jpg' : '/assets/about-me/picture-portfolio-light.jpg'" alt=""
    class="w-[40%] object-cover rounded-xl transition-transform duration-300 hover:scale-110"
  />
  <div class="w-[40%] shadow-xl h-full text-neutral-800 dark:text-white dark:shadow-none overflow-x-hidden overflow-y-auto p-6 bg-blue-100 dark:bg-neutral-800 bg-opacity-50 dark:bg-opacity-100 rounded-xl flex flex-col gap-y-4">
    <h2 class="text-2xl font-bold">Qui suis-je ?</h2>
    <p class="text-lg">
      Je suis un développeur fullstack, je ne me suis pas encore spécialisé à
      cause de ma curiosité, je suis toujours prêt à découvrir de nouveau outils
      ou langage.
      <br><br>
      Comme vous pouvez le voir avec ce portfolio, ma créativité est sans
      limite, j'aime beaucoup modéliser les idées donc je prends du temps
      à bien apprendre et découvrir les différentes possibilité que la
      programmation nous offre !
      <br><br>
      Vous êtes convaincu ? n'hésitez pas à me contacter en utilisant ma section contact !
    </p>
  </div>
</div>
