<div class="absolute cursor-default rounded-lg bg-black select-none border-8 flex flex-col justify-start"
     [style.top]="top"
     [style.left]="left"
     [style.width]="width"
     [style.height]="height"
     id="terminal"
>
  <div class="flex justify-between items-center bg-neutral-900 p-2" id="terminal-header">
    <span class="title">{{title}}</span>
  </div>
  <div class="p-4 flex-grow" id="terminal-content">
    <h3 *ngFor="let line of lines">
      <span class="inline-block mr-2">&lt;Quentin Yahia&gt;</span><span>{{ line }}</span>
    </h3>
    <h3>
      <span class="inline-block mr-2">&lt;{{label}}&gt;</span><span [innerHTML]="text"></span><span [@blinkCursor]="cursorState" id="cmd-cursor">|</span>
    </h3>
  </div>
  <div class="justify-self-end" id="terminal-footer">
    <h5 class="text-lg text-center mb-6">{{note}}</h5>
  </div>
</div>
