<section id="hero" #section class="relative h-full">
  <app-hero />
  <ng-container *ngIf="sections">
    <button
      (click)="goToNextSection()"
      class="absolute -translate-x-1/2 bottom-20 z-10 left-1/2 bg-white dark:bg-neutral-700 rounded-3xl animate-bounce transition-transform lg:size-8 size-9 duration-300"
      id="arrow-scroll-down"
    >
      <svg fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24"
           xmlns="http://www.w3.org/2000/svg">
        <path d="m9 12.75 3 3m0 0 3-3m-3 3v-7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" stroke-linecap="round"
              stroke-linejoin="round"/>
      </svg>
    </button>
  </ng-container>
</section>
<section id="projects" #section class="bg-gray-200 bg-opacity-90 dark:bg-neutral-900 relative h-full items-center">
  <div class="h-full w-full flex flex-col gap-y-8 px-12 py-12">
    <app-projects />
  </div>
</section>
<section id="about-me" #section class="relative h-full">
  <p>Section à propos de moi</p>
</section>
<section id="contact" #section class="relative h-full">
  <p>Section contact</p>
</section>
