<div
  [@flotterAnimation]="floatState"
  class="flex justify-center relative"
>
  <img
    alt="Une montre à gousset tenu par une main, elle flotte de haut en bas comme un nuage"
    class="w-[28rem]"
    ngSrc="assets/time/clock.png"
    height="753" width="644"
  />
  <img
    alt="Une aiguille indiquant les heures, séparé de l'horloge, elle permet d'indiquer dynamiquement l'heure"
    class="absolute w-[28rem]"
    [ngStyle]="{'transform': 'rotate(' + hourAngle + 'deg)'}"
    ngSrc="assets/time/clock-small-hand.png"
    height="753" width="644"
  />
  <img
    alt="Une aiguille indiquant les minutes, séparé de l'horloge, elle permet d'indiquer dynamiquement l'heure"
    class="absolute w-[28rem]"
    [ngStyle]="{'transform': 'rotate(' + minuteAngle + 'deg)'}"
    ngSrc="assets/time/clock-big-hand.png"
    height="753" width="644"
  />
  <img
    alt="Une aiguille indiquant les secondes, séparé de l'horloge, elle permet d'indiquer dynamiquement l'heure"
    class="absolute w-[28rem]"
    [ngStyle]="{'transform': 'rotate(' + secondAngle + 'deg)'}"
    ngSrc="assets/time/clock-second-hand.png"
    height="753" width="644"
  />
</div>
