<div class="absolute w-full h-[80%] -z-10">
  <ng-container *ngIf="isDarkMode; else bgLightMode">
    <app-bg-dark-mode-hero></app-bg-dark-mode-hero>
  </ng-container>
  <ng-template #bgLightMode>
    <img alt="Un dessin montrant un paysage au dessus des nuages, il a un côté paradis"
         class="w-full h-full object-cover -z-10" ngSrc="assets/time/bg-light.jpg" fill priority>
  </ng-template>
</div>
<div id="hero-container" class="flex w-full h-[80%] px-4 2xl:px-42 xl:px-38 lg:px-28 md:px-12 sm:px-4 gap-6 justify-around items-center">
  <div
    class="min-h-60 max-w-[50%] flex flex-col sm:gap-4 gap-0 p-6 bg-white dark:bg-neutral-900 rounded-lg bg-opacity-75 dark:bg-opacity-75">
    <div id="status">
      <span
        class="inline-flex lg:text-md sm:text-sm text-xs items-center gap-x-2 py-1.5 px-3 text-red-600 rounded-full font-medium bg-slate-100 border-4 border-red-600 dark:bg-neutral-900 dark:bg-opacity-75">
        <span class="flex relative">
        <span class="animate-ping absolute size-3.5 inline-block rounded-full bg-red-600"></span><span
          class="size-3.5 inline-block rounded-full bg-red-600"></span>
        </span>
        Status : disponible
      </span>
    </div>
    <div class="2xl:text-4xl lg:text-3xl md:text-2xl sm:text-xl text-md" id="title-hero">
      <div class="flex mb-2">
        ><p [innerHTML]="welcomeText"></p>
      </div>
      <div class="flex">
        ><p [innerHTML]="qualityText"></p>
      </div>
    </div>
    <div class="2xl:text-4xl lg:text-lg md:text-md text-sm" id="description-hero">
      <p>Je suis un passionnée du monde du développement</p>
      <p>N'hésitez pas à changer de thème (<span><app-theme-toggler class="align-middle"/></span>) pour découvrir
        l'autre thème
      </p>
    </div>
  </div>
  <ng-container *ngIf="isDarkMode; else iconLightMode">
    <img id="black-hole" priority alt="Un trou noir aspirant des étoiles" ngSrc="assets/space/black-hole.png" class="lg:w-[28rem] md:w-64 sm:w-64" height="550" width="550" />
  </ng-container>
  <ng-template #iconLightMode>
    <app-clock></app-clock>
  </ng-template>
</div>
