<header
  class="relative flex flex-wrap sm:justify-start sm:flex-nowrap w-full bg-white text-sm shadow-md sm:py-2 py-0 dark:bg-neutral-800">
  <nav class="w-full sm:max-w-[95%] mx-auto sm:px-4 sm:flex sm:items-center sm:justify-between">
    <div class="flex items-center justify-between sm:px-10 px-6 sm:py-0 py-2">
      <div
        aria-label="Brand" class="flex-none text-2xl font-semibold select-none dark:text-white">
        <button (mouseenter)="bouncingLettersAnimation()" class="flex">
          <div
            (@bounce.done)="setAnimationTrigger(i, false)"
            *ngFor="let letter of 'Quentin Yahia'.split(''); let i = index"
            [@bounce]="bouncingLetters[i]"
            [ngClass]="letter === ' ' ? 'mr-1' : ''"
          >{{ letter }}
          </div>
        </button>
      </div>
      <div class="sm:hidden flex items-center gap-2.5">
        <app-theme-toggler/>
        <button (click)="onMobileMenuClick()"
                aria-controls="hs-navbar-example"
                aria-expanded="false" aria-label="Toggle navigation"
                class="hs-collapse-toggle relative size-7 flex justify-center items-center gap-x-2 rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-transparent dark:border-neutral-700 dark:text-white dark:hover:bg-white/10 dark:focus:bg-white/10"
                id="hs-navbar-example-collapse"
                type="button">
          <svg [ngClass]="isMobileMenuCollapse ? 'hidden' : ''" class="shrink-0 size-6" fill="none"
               stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24"
               xmlns="http://www.w3.org/2000/svg"
          >
            <line x1="3" x2="21" y1="6" y2="6"/>
            <line x1="3" x2="21" y1="12" y2="12"/>
            <line x1="3" x2="21" y1="18" y2="18"/>
          </svg>
          <svg [ngClass]="isMobileMenuCollapse ? '' : 'hidden'" class="shrink-0 size-6" fill="none"
               stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
               viewBox="0 0 24 24"
               xmlns="http://www.w3.org/2000/svg">
            <path d="M18 6 6 18"/>
            <path d="m6 6 12 12"/>
          </svg>
          <span class="sr-only">Ouvrir / fermer la navigation</span>
        </button>
      </div>
    </div>
    <div [ngClass]="isMobileMenuCollapse ? '' : 'hidden'"
         aria-labelledby="hs-navbar-example-collapse"
         class="hs-collapse overflow-hidden transition-all duration-300 basis-full grow sm:block bg-slate-200 dark:bg-neutral-700 sm:bg-transparent dark:sm:bg-transparent px-4 sm:px-0"
         id="hs-navbar-example">
      <div class="flex flex-col text-lg gap-5 py-3 sm:flex-row sm:items-center sm:justify-end sm:mt-0 sm:ps-5">
        <button class="font-medium text-gray-600 hover:text-gray-400 focus:outline-none focus:text-gray-400 dark:text-neutral-300 dark:hover:text-neutral-500 dark:focus:text-neutral-400"
          (click)="scrollTo(0)">
          Accueil
        </button>
        <button class="font-medium text-gray-600 hover:text-gray-400 focus:outline-none focus:text-gray-400 dark:text-neutral-300 dark:hover:text-neutral-500 dark:focus:text-neutral-400"
          (click)="scrollTo(1)">
          Les projets
        </button>
        <button class="font-medium text-gray-600 hover:text-gray-400 focus:outline-none focus:text-gray-400 dark:text-neutral-300 dark:hover:text-neutral-500 dark:focus:text-neutral-400"
          (click)="scrollTo(2)">
          A&#768; propos de moi
        </button>
        <button class="font-medium text-gray-600 hover:text-gray-400 focus:outline-none focus:text-gray-400 dark:text-neutral-300 dark:hover:text-neutral-500 dark:focus:text-neutral-400"
          (click)="scrollTo(3)">
          Contact
        </button>
        <app-theme-toggler class="hidden sm:block"/>
      </div>
    </div>
  </nav>
</header>
