<div class="relative">
  <button #button (click)="toggleDropdown()" type="button"
          class="inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-2xs hover:bg-gray-50 focus:outline-hidden focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-700 dark:focus:bg-neutral-700"
          aria-haspopup="menu" aria-expanded="false" aria-label="Dropdown">
    <ng-template *ngTemplateOutlet="labelTemplate"></ng-template>
  </button>

  <div
    #dropdown
    class="absolute z-50 min-w-60 bg-white shadow-md rounded-lg mt-2 dark:bg-neutral-800 dark:border dark:border-neutral-700 dark:divide-neutral-700 after:h-4 after:absolute after:-bottom-4 after:start-0 after:w-full before:h-4 before:absolute before:-top-4 before:start-0 before:w-full"
    role="menu" aria-orientation="vertical" aria-labelledby="hs-dropdown-hover-event"
    [ngClass]="[
      isDropdown ? '' : 'hidden'
    ]"
  >
    <div class="p-1 space-y-0.5">
      <ng-content></ng-content>
    </div>
  </div>
</div>
