<div class="absolute w-full h-[80%] -z-10">
  <app-bg-mode-hero></app-bg-mode-hero>
</div>
<div
  class="flex sm:flex-row flex-col w-full h-[80%] px-4 2xl:px-42 xl:px-38 lg:px-28 md:px-12 sm:px-4 gap-6 sm:justify-around justify-center items-center"
  id="hero-container">
  <div
    class="min-h-60 sm:max-w-[50%] flex flex-col gap-4 p-6 bg-white dark:bg-neutral-900 rounded-lg bg-opacity-75 dark:bg-opacity-75">
    <div id="status" *ngIf="statusJob | loadingState | async as statusJobState">
      <span
        *ngIf="isSuccess(statusJobState) && statusJobState.data as statusJob"
        class="inline-flex md:text-base sm:text-sm text-xs items-center gap-x-2 py-1.5 px-3 rounded-full font-medium bg-slate-100 border-4 dark:bg-neutral-800 dark:bg-opacity-75"
        [style]="'color: ' + (isDarkMode ? statusJob.statusJobBgColorDark : statusJob.statusJobBgColorLight) + '; border-color: ' + (isDarkMode ? statusJob.statusJobBgColorDark : statusJob.statusJobBgColorLight) + ';'"
      >
        <span class="flex relative">
          <span
            class="animate-ping absolute size-3.5 inline-block rounded-full"
            [style]="'background-color: ' + (isDarkMode ? statusJob.statusJobBgColorDark : statusJob.statusJobBgColorLight) + ';'"
          ></span>
          <span
            class="size-3.5 inline-block rounded-full"
            [style]="'background-color: ' + (isDarkMode ? statusJob.statusJobBgColorDark : statusJob.statusJobBgColorLight) + ';'"
          ></span>
        </span>
        Statut : {{ statusJob.statusJob }}
      </span>
      <span
        *ngIf="isLoading(statusJobState)"
        class="animate-pulse inline-flex md:text-base sm:text-sm text-xs items-center gap-x-2 py-1.5 px-3 rounded-full font-medium bg-slate-100 border-4 text-gray-600 border-gray-500 dark:bg-neutral-800 dark:bg-opacity-75"
      >
        <div
          class="animate-spin inline-block size-4 border-4 border-gray-500 border-t-gray-300 border-r-gray-300 rounded-full"
          role="status" aria-label="loading">
          <span class="sr-only">Chargement...</span>
        </div>
        Statut : chargement...
      </span>
      <span
        *ngIf="isError(statusJobState)"
        class="inline-flex md:text-base sm:text-sm text-xs items-center gap-x-2 py-1.5 px-3 rounded-full font-medium bg-white/60 dark:bg-neutral-600/40 border-4 text-red-600 border-red-600"
      >
        Statut : erreur
        <div class="relative">
          <div
            class="animate-ping pointer-events-none absolute flex shrink-0 justify-center items-center size-6 font-medium rounded-lg bg-red-500/40 dark:bg-red-800/40">
          </div>
          <button
            (click)="retrieveStatusJob()"
            class="flex shrink-0 cursor-pointer justify-center items-center size-6 font-medium rounded-lg disabled:opacity-50 disabled:pointer-events-none bg-red-500/40 dark:bg-red-800/40 hover:bg-red-500/60 dark:hover:bg-red-800/60"
            type="button"
          >
            <svg class="size-4" fill="none" stroke="currentColor" stroke-width="1.5"
                 viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99"
                stroke-linecap="round"
                stroke-linejoin="round"/>
            </svg>
          </button>
        </div>
      </span>
    </div>
    <div class="2xl:text-4xl xl:text-2xl lg:text-xl md:text-2xl sm:text-xl text-md leading-4" id="title-hero">
      <div class="flex mb-2">
        ><p [innerHTML]="welcomeText"></p>
      </div>
      <div class="flex">
        ><p [innerHTML]="qualityText"></p>
      </div>
    </div>
    <div class="2xl:text-2xl lg:text-lg md:text-[1rem] text-sm" id="description-hero">
      <p>D&eacute;di&eacute; et r&eacute;solu à cr&eacute;er des solutions performantes et durables, je vise l'excellence à chaque &eacute;tape du
        projet.</p>
      <p class="mt-3 lg:leading-6 leading-4 xl:text-[1.1rem] lg:text-[1rem] text-[0.75rem] italic">N'h&eacute;sitez pas à
        changer de thème
        tout au long de la navigation pour d&eacute;couvrir l'autre aspect de mon portfolio</p>
    </div>
  </div>
  <ng-container *ngIf="isDarkMode; else iconLightMode">
    <img
      alt="Un trou noir aspirant des &eacute;toiles" class="lg:w-[28rem] md:w-64 sm:w-64 sm:h-auto w-auto h-2/5" height="550"
      id="black-hole"
      ngSrc="/assets/space/black-hole/black-hole.webp" priority width="550"/>
  </ng-container>
  <ng-template #iconLightMode>
    <app-clock class="lg:w-[28rem] md:w-64 sm:w-64 sm:h-auto w-auto h-1/2"/>
  </ng-template>
</div>
<button
  (click)="goToNextSection()"
  class="absolute -translate-x-1/2 bottom-20 z-10 left-1/2 bg-white dark:bg-neutral-700 rounded-full border border-neutral-800 animate-bounce transition-transform lg:size-8 size-9 duration-300"
  id="arrow-scroll-down"
>
  <svg fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24"
       xmlns="http://www.w3.org/2000/svg">
    <path d="m9 12.75 3 3m0 0 3-3m-3 3v-7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" stroke-linecap="round"
          stroke-linejoin="round"/>
  </svg>
</button>
