<section class="overflow-y-auto overflow-x-hidden relative mx-16 py-4">
  <div class="my-3 py-2 px-4 bg-neutral-800 rounded-lg">
    <h1>Mentions légales et licence d’utilisation</h1>
    <div>
      <h2>1. Éditeur du site</h2>
      <p>Le présent site est édité par : Quentin Yahia</p>
      <p>Développeur d’applications web et logicielles</p>
      <p>Contact : quentin.yahia.pro&#64;gmail.com</p>
      <p>Hébergement : Vercel</p>
    </div>

    <div>
      <h2>2. Objet du site</h2>
      <p>Ce site constitue le portfolio personnel de Quentin Yahia. Il a pour objectif de présenter ses projets, compétences, réalisations et proposer un moyen de contact.</p>
    </div>

    <div>
      <h2>3. Propriété intellectuelle</h2>
      <p>L’ensemble du contenu présent sur ce site (textes, visuels, éléments graphiques, codes, vidéos, etc.) est la propriété exclusive de Quentin Yahia, sauf mention contraire.</p>
      <p>Toute reproduction, représentation, diffusion ou utilisation partielle ou totale sans autorisation écrite préalable est strictement interdite.</p>
    </div>

    <h2>4. Données personnelles</h2>
    <p>Aucune donnée personnelle n’est collectée automatiquement par le site.</p>
    <p>Les seules informations susceptibles d’être transmises sont celles fournies volontairement par l’utilisateur via le formulaire de contact, à savoir :</p>
    <ul>
      <li>Nom</li>
      <li>Adresse email</li>
      <li>Message</li>
    </ul>
    <p>
      Ces informations sont exclusivement utilisées pour répondre à la demande de l’utilisateur. Aucune donnée n’est stockée dans une base, ni utilisée à des fins commerciales, publicitaires ou statistiques.
    </p>

    <div>
      <h2>5. Cookies</h2>
      <p>Ce site ne dépose aucun cookie de suivi.</p>
      <p>Aucun outil tiers de mesure d’audience (comme Google Analytics) n’est utilisé.</p>
    </div>

    <div>
      <h2>6. Crédits et remerciements</h2>
      <p>Ce site a été conçu en utilisant diverses technologies open-source et ressources externes que je tiens à remercier :</p>
      <ul class="marker:text-sky-500 list-disc ps-5 space-y-1">
        <li>Three.js – pour l’intégration des éléments 3D</li>
        <li>Blender – pour la modélisation des visuels</li>
        <li>Tailwind CSS & Preline UI – pour le style et les composants</li>
        <li>Heroicons – pour les icônes</li>
        <li>OpenAI – pour l’assistance rédactionnelle</li>
        <li>Images :</li>
        <ul class="marker:text-sky-500 list-[circle] ps-5 space-y-1">
          <li><a href="https://www.freepik.com" target="_blank">Freepik</a></li>
          <li><a href="https://www.pexels.com" target="_blank">Pexels</a></li>
          <li><a href="https://polyhaven.com" target="_blank">Polyhaven</a></li>
        </ul>
      </ul>
      <p>Les éléments externes utilisés restent la propriété de leurs auteurs respectifs.</p>
    </div>

    <div>
      <h2>7. Licence</h2>
      <p>Sauf indication contraire, les contenus créés par Quentin Yahia sur ce site sont mis à disposition sous licence :</p>
      <p><a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.fr" target="_blank">Creative Commons Attribution</a> - Pas d’Utilisation Commerciale - Partage dans les Mêmes Conditions 4.0 International (CC BY-NC-SA 4.0)</p>
      <p>Cela signifie que vous êtes libre de :</p>
      <ul class="marker:text-sky-500 list-disc ps-5 space-y-2">
        <li>Partager : copier, distribuer et communiquer le contenu</li>
        <li>Adapter : remixer, transformer et créer à partir du contenu</li>
      </ul>
      <p>À condition de :</p>
      <ul class="marker:text-sky-500 list-disc ps-5 space-y-1">
        <li>Créditez l’auteur</li>
        <li>Ne pas en faire un usage commercial</li>
        <li>Diffuser vos contributions sous la même licence</li>
      </ul>
    </div>

    <div>
      <h2>8. Contact</h2>
      <p>  Pour toute question relative au site ou à ses contenus, vous pouvez me contacter via le formulaire de contact ou à l’adresse suivante : quentin.yahia.pro&#64;gmail.com</p>
    </div>
  </div>
</section>
