<div class="size-full overflow-hidden">
  <section #section id="hero" class="overflow-y-auto overflow-x-hidden relative">
    <ng-template #hero></ng-template>
  </section>
  <section #section id="projects" class="overflow-y-auto overflow-x-hidden relative">
    <ng-template #projects></ng-template>
  </section>
  <section #section id="about-me" class="overflow-y-auto overflow-x-hidden relative">
    <ng-template #aboutMe></ng-template>
  </section>
  <section #section id="contact" class="overflow-y-auto overflow-x-hidden relative">
    <ng-template #contact></ng-template>
    <app-footer class="absolute bottom-0" />
  </section>
</div>
